<app-header title="Dashboard"></app-header>
<div class="column squads">
    <div class="row title center-vertical-align space-between default-margin">
        <h4>Squads</h4>
    </div>
    <!-- <mat-chip-list class="row no-wrap sort">
        <mat-chip class="button">Nome</mat-chip>
        <mat-chip class="button">Status</mat-chip>
        <mat-chip class="button">Data inicial</mat-chip>
        <mat-chip class="button">Data final</mat-chip>
    </mat-chip-list> -->
    <div class="column content default-margin">
        <ng-container *ngIf="sprint$ | async as sprint">
            <button *ngFor="let squad of sprint.squads; index as i"
                class="row center-vertical-align no-wrap space-between squad" matRipple [matRippleColor]="rippleColor"
                (click)="onUpdateRanking(squad, sprint.sprintConfiguration)">
                <h5 class="position">{{i+1}}</h5>
                <span class="body-1">{{squad.name}}</span>
                <div class="column flex__end-vertical-align">
                    <span class="body-2">{{squad.scoreGoal}}% da meta</span>
                    <span class="body-2">{{squad.score}}% do total</span>
                </div>
            </button>
            <div class="column" *ngIf="!sprint.squads.length">
                <h6>Oooops!</h6>
                <span class="subtitle-1">Não há nada para mostrar aqui :( </span>
            </div>
        </ng-container>
    </div>
</div>