@use "sass:map";
@use "/src/assets/scss/colors" as colors;
@use "/src/assets/scss/grid" as responsivity;


.content {
    box-sizing: border-box;
    .squad {
        background-color: map-get($map: colors.$elevations, $key: 02dp);
        border-radius: 8px;
    }
}

@include responsivity.grid("Handset") {
    $margin: map-get(
        $map: responsivity.$margins,
        $key: "handset",
    );

    .squads {
        padding-top: 32px;
    }


    .sort {
        padding: 8px $margin 0 $margin;
    }

    .content {
        padding-top: 32px;

        .squad {
            padding: 16px;
            margin: 6px 0;

            .position{
                padding: 0 8px 0 0;
            }
        }

        .squad:first-child {
            margin-top: 0;
        }

        .squad:last-child {
            margin-bottom: 0;
        }
    }
}

@include responsivity.grid("Tablet") {
}

@include responsivity.grid("TabletLandscape") {
}

@include responsivity.grid("WebLandscape") {
}
