<app-header title="sprint"></app-header>
<form class="column default-margin content" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Intervalo de datas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Início" formControlName="startDate">
            <input matEndDate placeholder="Término" formControlName="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Configuração da Sprint</mat-label>
        <mat-select formControlName="sprintConfigurationId">
            <mat-option *ngFor="let setting of sprintSettings$ | async as settings" [value]="setting.id">
                {{setting.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="form.get('squads') as control">
        <mat-form-field *ngIf="squads$ | async as squads" appearance="fill" class="row">
            <mat-label>Squads participantes</mat-label>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let value of control.value" (removed)="onRemoveSquad(value)">
                    {{value.name}}
                    <button matChipRemove>
                        <mat-icon svgIcon="cancel"></mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
            <input formControlName="squad" [matChipInputFor]="chipList" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectSquad($event)">
                <mat-option *ngFor="let squad of filteredSquads$ | async as filteredSquads" [value]="squad">
                    {{squad.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </ng-container>
    <button mat-button type="button" color="warn" *ngIf="update" (click)="onDelete()">Remover</button>
    <button mat-fab type="submit" color="primary" class="custom-fab-button button">
        <mat-icon [svgIcon]="icon"></mat-icon>
    </button>
</form>