@use "sass:map";
@use "/src/assets/scss/colors" as colors;
@use "/src/assets/scss/grid" as responsivity;

.remove-button{
    background-color: map-get($map: colors.$elevations, $key: 02dp);
    border-radius: 12px;
}


@include responsivity.grid("Handset") {
    .content {
        padding-top: 32px;
    }

    .remove-button{
        padding: 12px 0 ;
    }
}

@include responsivity.grid("Tablet") {
}

@include responsivity.grid("TabletLandscape") {
}

@include responsivity.grid("WebLandscape") {
}
