@use "sass:map";
@use "/src/assets/scss/colors" as colors;
@use "/src/assets/scss/grid" as responsivity;


.search-button {
    border-radius: 50%;
}

.content {
    .sprint {
        background-color: map-get($map: colors.$elevations, $key: 02dp);
        border-radius: 8px;
    }
}

@include responsivity.grid("Handset") {
    
    .sprints {
        padding-top: 32px;
    }

    .search-button {
        padding: 4px 6px;
    }

    .sort{
        padding: 8px 0 0 0;
    }

    .content {
        padding: 32px 0 0 0;

        .sprint {
            padding: 16px;
            margin: 6px 0;
        }

        .sprint:first-child {
            margin-top: 0;
        }

        .sprint:last-child {
            margin-bottom: 0;
        }
    }
}

@include responsivity.grid("Tablet") {
}

@include responsivity.grid("TabletLandscape") {
}

@include responsivity.grid("WebLandscape") {
}
