<div class="column center-horizontal-align default-margin action-header">
    <h4>Configuração de Sprint</h4>
    <span class="body-1">Criar, alterar e remover configurações.
    </span>
</div>
<form class="column default-margin content" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Peso burndown</mat-label>
        <input matInput formControlName="burdownMax" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Peso escaped defects</mat-label>
        <input matInput formControlName="escapedDefectsMax" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Peso satisfação do cliente</mat-label>
        <input matInput formControlName="feedbackMax" autocomplete="off">
    </mat-form-field>
    <button mat-fab type="submit" color="primary" class="custom-fab-button button">
        <mat-icon [svgIcon]="icon"></mat-icon>
    </button>
</form>