@use "sass:map";
@use "/src/assets/scss/colors" as colors;
@use "/src/assets/scss/grid" as responsivity;

.dashboard {
    background-color: map-get($map: colors.$elevations, $key: 02dp);
}

.search-button{
    border-radius: 50%;
}

@include responsivity.grid("Handset") {
    .dashboard {
        height: 40%;
    }

    .sprints{
        padding-top: 32px;
    }

    .search-button{
        padding: 4px 6px;
    }
}

@include responsivity.grid("Tablet") {
}

@include responsivity.grid("TabletLandscape") {
}

@include responsivity.grid("WebLandscape") {
}
