@use "sass:map";
@use "/src/assets/scss/colors" as colors;
@use "/src/assets/scss/grid" as responsivity;

.content {
    background-color: map-get($map: colors.$elevations, $key: 02dp);
}

@include responsivity.grid("Handset") {
    .content {
        height: 60%;

        .title {
            padding: 0 0 0 16px;

            .body-1 {
                padding: 8px 0 0 0;
            }
        }
    }
}

@include responsivity.grid("Tablet") {
    .content {
        height: 40%;

        .title {
            padding: 0 0 0 16px;

            .body-1 {
                padding: 8px 0 0 0;
            }
        }
    }
}

@include responsivity.grid("TabletLandscape") {
    .content {
        height: 64px;
    }

    .title {
        padding-top: 32px;
        padding-bottom: 16px;
    }
}

@include responsivity.grid("Web") {
    .title {
        padding-top: 32px;
        padding-bottom: 16px;
    }
}

@include responsivity.grid("XLarge") {
}
