<div class="column center-horizontal-align default-margin action-header">
    <h4>Sprint</h4>
    <span class="body-1">Criar, alterar e remover sprints.
    </span>
</div>

<div class="column default-margin content">
    <!-- <table>
        <thead>
            <tr>
                <th class="subtitle-2">#</th>
                <th class="subtitle-2">Nome</th>
                <th class="subtitle-2">Início</th>
                <th class="subtitle-2">Término</th>
            </tr>
        </thead>
    </table> -->
    <!-- <button class="button" matRipple [matRippleColor]="rippleColor" *ngFor="let button of buttons" (click)="onNavigate(button.navigateTo)">{{button.label}}</button> -->
</div>