<app-header title="Pontuações"></app-header>

<div class="column space-between default-margin content">
    <div class="column">
        <ng-container *ngIf="sprintSettings$ | async as settings">
            <button *ngFor="let setting of settings; index as i" class="row button" matRipple
                [matRippleColor]="rippleColor" (click)="onNavigate(setting.id)">
                <h6>{{i+1}}</h6>
                <h6>{{setting.name}}</h6>
            </button>

            <div class="column" *ngIf="!settings.length">
                <h6>Oooops!</h6>
                <span class="subtitle-1">Não há nada para mostrar aqui :( </span>
            </div>
        </ng-container>
    </div>
    <button mat-fab type="button" color="primary" class="custom-fab-button" (click)="onNavigate(-1)">
        <mat-icon svgIcon="add"></mat-icon>
    </button>
</div>